@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #033b52;
    --foreground: #ffff;
    --secundary: #c83022;
    --font-oracle: "OracleSans_Bd";
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-oracle);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-secundary w-full rounded-full text-center text-[65px];
  }

  .input-ounline {
    @apply bg-transparent w-full rounded-full text-[65px] border-[3px] border-secundary border-solid text-[#382F2B];
  }
  
}
.welcome {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/welcome.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.login {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  /* background-image: url("/login.webp"); */
  background-color: #f7e2c5;
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.outro {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/outro.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.scale-checkbox {
  transform: scale(3); /* Cambia este valor para ajustar el tamaño */
  width: 26px;
  height: 26px;
}

body {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  /* background-image: url("/bg.webp"); */
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}
